* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: "outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 320px;
  padding: 16px;
  border-radius: 20px;
  background-color: white;
}

.qr-code {
  border-radius: 10px;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  gap: 16px;
}

.card-title {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: #1f314f;
  font-weight: 700;
  letter-spacing: 0px;
}
.card-description {
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: #68778d;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.card-title, .card-description {
  margin: 0;
}

.attribution {
  text-align: center;
}

.attribution a {
  color: blue;
  text-decoration: none;
}

.attribution a:focus-visible {
  outline: 1.5px solid red;
  border-radius: 3px;
}

@media (max-width: 325px) {
  .card {
    width: 100%;
  }
}